.map-container {
  width: 100%;
  margin: auto;
  overflow: visible;
}

svg {
  width: 1300px;
  height: auto;
  display: block;
  margin: auto;
}

/* 📱 Tablette */
@media (max-width: 1024px) {
  svg {
    width: 700px;
  }
}

/* 📱 Mobile */
@media (max-width: 768px) {
  svg {
    width: 100%;
    max-width: 600px;
  }
}

/* 📱 Petit mobile */
@media (max-width: 480px) {
  svg {
    width: 100%;
    max-width: 350px;
  }
}